*~

build*
data/*
data-tools/*
data.tar.gz
CMakeCache.txt

shelter/
CMakeFiles/
bin/
install/
lib/
share/
doc/api/
shelter/

!conda-bld/build.sh

cmake/CMakeCache.txt
cmake/CMakeFiles/

*.png
*.pyc

*.txt
*.pdf
*.dat
*.ipynb_checkpoints
*.idea
